### Target output ###
service-registry/target/
order-api/target/
payment-api/target/
notification-api/target/
inventory-api/target/
api-gateway/target/
.gitignore

### IntelliJ IDEA ###
.idea/
service-registry/.idea/
order-api/.idea/
payment-api/.idea/
notification-api/.idea/
inventory-api/.idea/
api-gateway/.idea/

api-gateway/*.iws
api-gateway/*.iml
api-gateway/*.ipr
server-registry/*.iws
server-registry/*.iml
server-registry/*.ipr
order-api/*.iws
order-api/*.iml
order-api/*.ipr
payment-api/*.iws
payment-api/*.iml
payment-api/*.ipr
notification-api/*.iws
notification-api/*.iml
notification-api/*.ipr
inventory-api/*.iws
inventory-api/*.iml
inventory-api/*.ipr