### Target output ###
api-gateway/target/
service-registry/target/
order-api/target/
payment-api/target/
notification-api/target/
kafka-setup/kafka-3.9

### IntelliJ IDEA ###
.idea/
api-gateway/.idea/
service-registry/.idea/
order-api/.idea/
payment-api/.idea/
notification-api/.idea/

api-gateway/*.iws
api-gateway/*.iml
api-gateway/*.ipr
server-registry/*.iws
server-registry/*.iml
server-registry/*.ipr
order-api/*.iws
order-api/*.iml
order-api/*.ipr
payment-api/*.iws
payment-api/*.iml
payment-api/*.ipr
notification-api/*.iws
notification-api/*.iml
notification-api/*.ipr
