HELP.md

### Target output ###
api-gateway/target/
server-registry/target/
order-api/target/
payment-server/target/
server-identity/target/

### IntelliJ IDEA ###
.idea/
api-gateway/.idea/
server-registry/.idea/
order-api/.idea/
payment-server/.idea/
server-identity/.idea/

api-gateway/*.iws
api-gateway/*.iml
api-gateway/*.ipr
server-registry/*.iws
server-registry/*.iml
server-registry/*.ipr
order-api/*.iws
order-api/*.iml
order-api/*.ipr
payment-server/*.iws
payment-server/*.iml
payment-server/*.ipr
server-identity/*.iws
server-identity/*.iml
server-identity/*.ipr
