server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        # ---- ORDER SERVICE ----
        - id: order-create
          uri: lb://order-service
          predicates:
            - Path=/api/orders
            - Method=POST

        - id: order-get
          uri: lb://order-service
          predicates:
            - Path=/api/orders/**
            - Method=GET

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: health,info
