<configuration>

    <property name="SERVICE_NAME" value="${spring.application.name}" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS}
                [%thread]
                %-5level
                service=${SERVICE_NAME}
                traceId=%X{traceId:-}
                spanId=%X{spanId:-}
                correlationId=%X{correlationId:-}
                httpMethod=%X{httpMethod:-}
                path=%X{path:-}
                %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
