<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<nav class="navbar">
    <button onclick="window.location.href='/orders'">Orders</button>
    <button onclick="window.location.href='/payments'">Payments</button>
    <button onclick="window.location.href='/notifications'">Notification</button>
    <button onclick="window.location.href='/inventory'">Inventory</button>
</nav>
<div class="content">
    <h2>Welcome to the Home Page</h2>
</div>
</body>
</html>