groups:
  - name: slo-alerts
    rules:

      - alert: HighErrorRate
        expr: |
          (
            sum(rate(http_server_requests_seconds_count{status=~"5.."}[2m]))
            /
            sum(rate(http_server_requests_seconds_count[2m]))
          ) > 0.05
        for: 2m
        labels:
          severity: critical
          category: slo
        annotations:
          summary: "High error rate detected"
          description: "More than 5% of HTTP requests are failing."

      - alert: HighLatencyP95
        expr: |
          histogram_quantile(
            0.95,
            sum(rate(http_server_requests_seconds_bucket[2m])) by (le)
          ) > 1
        for: 2m
        labels:
          severity: warning
          category: slo
        annotations:
          summary: "High latency (P95)"
          description: "95th percentile latency is above 1 second."
