version: "3.9"

services:
  eureka-server:
    build: ../../eureka-server
    image: eureka-server:latest
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - kafka-network
    environment:
      SPRING_PROFILES_ACTIVE: docker
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8761/actuator/health" ]
      interval: 10s
      retries: 5

  api-gateway:
    build: ../../api-gateway
    image: api-gateway:latest
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      eureka-server:
        condition: service_healthy
    networks:
      - kafka-network
    environment:
      SPRING_PROFILES_ACTIVE: docker
      EUREKA_SERVER: http://eureka-server:8761/eureka

networks:
  kafka-network:
    external: true
