version: "3.9"

services:
  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "8081:8081"
    depends_on:
      eureka-server:
        condition: service_started
    networks:
      - kafka-network
    environment:
      SPRING_PROFILES_ACTIVE: docker
      EUREKA_SERVER: http://eureka-server:8761/eureka
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-db:3306/orders_db
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin

  payment-service:
    build: ./payment-service
    container_name: payment-service
    ports:
      - "8082:8082"
    depends_on:
      order-service:
        condition: service_started
    networks:
      - kafka-network
    environment:
      SPRING_PROFILES_ACTIVE: docker
      EUREKA_SERVER: http://eureka-server:8761/eureka
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-db:3306/payments_db
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin

  inventory-service:
    build: ./inventory-service
    container_name: inventory-service
    ports:
      - "8083:8083"
    depends_on:
      payment-service:
        condition: service_started
    networks:
      - kafka-network
    environment:
      SPRING_PROFILES_ACTIVE: docker
      EUREKA_SERVER: http://eureka-server:8761/eureka
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-db:3306/inventory_db
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin

  notification-service:
    build: ./notification-service
    container_name: notification-service
    ports:
      - "8084:8084"
    depends_on:
      inventory-service:
        condition: service_started
    networks:
      - kafka-network
    environment:
      SPRING_PROFILES_ACTIVE: docker
      EUREKA_SERVER: http://eureka-server:8761/eureka

networks:
  kafka-network:
    external: true
